html {
  scroll-behavior: smooth;
}

body {
  font-family:
    "Cairo",
    "Inconsolata" sans-serif,
    monospace,
    -apple-system;

  // font rendering issue on macOS Safari and Chrome browsers.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

input {
  outline: none;
}

.border_bottom {
  padding-bottom: 2rem;
  border-bottom: 1px solid #5a5a5a;
}
