html {
  scroll-behavior: smooth;
}

body {
  font-family:
    "Cairo",
    "Inconsolata" sans-serif,
    monospace,
    -apple-system;

  // font rendering issue on macOS Safari and Chrome browsers.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.nav_hover_dot {
  li {
    cursor: pointer;
    position: relative;
    &:hover::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -0.8rem;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fff;
      transform: translate(0, -50%);
    }
  }
}

input {
  outline: none;
}
.focus_input {
  @apply focus:border-gold-500 focus:ring-1 focus:ring-gold-500 transition duration-150 ease-in-out;
}
.input_common_styles {
  @apply w-full px-4 py-3 shadow-sm bg-[#252d30] border border-gold-900 rounded-md text-[#FFF] text-sm font-inconso;
}

.input_error_styles {
  @apply absolute text-xs text-red-900 pt-[2px] px-[1rem] font-inconso font-bold tracking-[0.5] block transition duration-100 ease-linear;
}

// Transition name="slide-fade"
.slide-fade-enter-from {
  transform: translateY(-60px);
}
.slide-fade-enter-to {
  transform: translateY(0);
}
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.slide-fade-leave-to {
  transform: translateY(-60px);
  transition: all 0.3s ease-in-out;
}

// Transition name = "slide-up"
.slide-up-enter-from {
  transform: translateY(-100%);
}
.slide-up-enter-to {
  transform: translateY(0);
}
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.4s ease-in-out;
}

.slide-up-leave-to {
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
}
